### Scikit Learn-02 (sklearn): Heart Disease
 - Python library design for Machine Learning
 - Study based from Udemy

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#### 1. Getting our data ready to be used with Machine Learning

Three main things we have to do:

    1. Split the data into features and labels ( usually 'X' & 'Y' )
    
    2. Filling (also called imputing) or disregarding missing values
    
    3. Converting non-numerical values to numerical values (also called feature encoding)

In [4]:
df_heartDiseases = pd.read_csv( "data/heart-disease.csv" )
df_heartDiseases.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
X = df_heartDiseases.drop( "target", axis = 1 )
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [6]:
Y = df_heartDiseases[ "target" ]
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [7]:
# 3. Fit the model to training & testing data
from sklearn.model_selection import train_test_split

In [8]:
# Split data into trainning & testing sets (important)
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size = 0.2 )

In [11]:
X_train.shape, X_test.shape

((242, 13), (61, 13))

In [13]:
# Prove only 80% of records has ben populated for trainning
X.shape[0] * 0.8

242.4

Quick Note:

* Clean Data --> Transform Data --> Reduce Data

1. Clean Data: Data cleansing - ensure data is accurate, non-corrupted, non-usage, fill empty or add columns as needed
2. Transform Data: Transform data into certain ways like Integers or Float because computers understand numbers easily. (ex - Yes becomes 1, No becomes 0)
3. Reduce Data: Try to be cost efficient, memory efficient.