### Scikit Learn-02 (sklearn): Chosing Right Model
 - Python library design for Machine Learning
 - Study based from Udemy

***Note:*** Google Scikit-Learn Machine Learning Map
* https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

In [1]:
from sklearn.model_selection import train_test_split

In [2]:
# Get public datatset provided by scikit-learn
# Source: https://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_california_housing.html
from sklearn.datasets import fetch_california_housing

In [3]:
import pandas as pd
import numpy as np

In [4]:
housing = fetch_california_housing()
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block\n        - HouseAge      median house age in block\n        - AveRooms      average number of rooms\n        - AveBedrms     average number of bedrooms\n        - Population    block population\n        - AveOccup      average house occupancy\n        - Latitude      house block latitude\n        - Longitude     house block longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttp://lib.stat.cmu.edu/datasets/\n\nThe target variable is the median house value for California districts.\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [5]:
df_housing = pd.DataFrame( housing[ "data" ], columns = housing[ "feature_names" ])
df_housing.head( 3 )

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24

* ***MedInc*** median income in block group
* ***HouseAge*** median house age in block group
* ***AveRooms*** average number of rooms per household
* ***AveBedrms*** average number of bedrooms per household
* ***Population*** block group population
* ***AveOccup*** average number of household members
* ***Latitude*** block group latitude
* ***Longitude*** block group longitude

In [6]:
len( df_housing )

20640

In [7]:
df_housing[ "target" ] = housing[ "target" ]
df_housing.head( 3 )

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521

***Note:***  ( target x 1000 ) is the real price value. The goal is to estimated "target"

In [8]:
# Choose Model based on link above
from sklearn.linear_model import Ridge

# Let's refit the model:
np.random.seed( 42 )

# Create Data
X = df_housing.drop( "target", axis = 1 )
Y = df_housing[ "target" ]

# Split data into trainning & testing sets
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size = 0.2 )

# Instantiate and fit the model
model = Ridge()
model.fit( X_train, Y_train )

# Score the model
model.score( X_test, Y_test )

0.5758549611440127