# Adventure Works Database
**TODO:**
 * Make connection from pyspark to local SQL server to retreive data - Adventureworks 2017

## Data Diagram
![DIAGRAM](adventureworks_person.PNG)

Source: https://dataedo.com/download/AdventureWorks.pdf

## Data Retreival ( Extract )

Data is stored in local SQL. I will be retreiving the data through making JDBC connection. In the process, appropriate user IDs & PWs used to gain access to make connection.

 * Make connection
 * Retreive data
 * Present data

***Other notes***
 * Make sure to check your Java version to use appropriate MySQL JDBC jar file

In [1]:
import pyodbc 


import pandas as pd
from tqdm import tqdm

In [3]:
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import col,length,trim
from pyspark import SparkContext, SparkConf, SQLContext

In [4]:
import os
def find():
    spark_home = os.environ.get('SPARK_HOME', None)
    print(spark_home)

    if not spark_home:
        for path in [
            '/usr/local/opt/apache-spark/libexec', # OS X Homebrew
            '/usr/lib/spark/' # AWS Amazon EMR
            # Any other common places to look?
        ]:
            if os.path.exists(path):
                spark_home = path
                break

    if not spark_home:
        raise ValueError("Couldn't find Spark, make sure SPARK_HOME env is set"
                         " or Spark is in an expected location (e.g. from homebrew installation).")

    return spark_home

In [5]:
print( find() )

C:\spark
C:\spark

In [6]:
appName = "PySpark SQL Server - JDBC"
master = "local"
conf = SparkConf() \
    .setAppName( appName ) \
    .setMaster( master ) \
    .set( "spark.driver.extraClassPath", "mssql-jdbc-8.2.2.jre8.jar" )

In [7]:
PYSPARK_ALLOW_INSECURE_GATEWAY=1

In [8]:
sc = SparkContext( conf = conf )
sqlContext = SQLContext( sc )

C:\Users\hkpar\anaconda3\lib\site-packages\pyspark\sql\context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [9]:
spark = sqlContext.sparkSession

In [10]:
import findspark
findspark.add_packages( 'mysql:mysql-connector-java:8.2.2' )

In [11]:
# C:\Users\hkpar
filename = "C:/Users/hkpar/authentication/mysql.txt"
with open( filename ) as f:
    lines = f.read().splitlines() 

if( len( lines ) == 2 ):
    user = lines[0]
    password = lines[1]
else:
    print( 'USERNAME and PASSWORD CORRUPTION ERROR' )
    raise ValueError( 'USERNAME and PASSWORD CORRUPTION ERROR' )
# f.close()

In [12]:
database = "AdventureWorks2017"

In [13]:
"""
Function: getTable()

Description:
    Returns the dataframe of the table name

Parametres: table (String)
Return: DataFrame (Spark)
"""

def getTable( table ):
    df_table = spark.read.format( "jdbc" ) \
        .option( "url", f"jdbc:sqlserver://localhost:1433;databaseName={database}" ) \
        .option( "dbtable", table ) \
        .option( "user", user ) \
        .option( "password", password ) \
        .option( "driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver" ) \
        .load()

    return df_table

In [14]:
df_p = getTable( "Person.Person" )
df_pPhone = getTable( "Person.PersonPhone" )
df_pEmail = getTable( "Person.EmailAddress" )

In [15]:
print( df_p.show() )
print( df_pPhone.show() )
print( df_pEmail.show() )

+----------------+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+-------------------+
|BusinessEntityID|PersonType|NameStyle|Title|FirstName|MiddleName|  LastName|Suffix|EmailPromotion|AdditionalContactInfo|        Demographics|             rowguid|       ModifiedDate|
+----------------+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+-------------------+
|               1|        EM|    false| null|      Ken|         J|   SÃ¡nchez|  null|             0|                 null|<IndividualSurvey...|92C4279F-1207-48A...|2009-01-07 00:00:00|
|               2|        EM|    false| null|    Terri|       Lee|     Duffy|  null|             1|                 null|<IndividualSurvey...|D8763459-8AA8-47C...|2008-01-24 00:00:00|
|               3|        EM|    false| null|  Roberto|      null|Tamburello|  null|             0|                 null|<IndividualSurvey...|E1A2555E-0828-434...|2007-11-04 00:00:00|
|               4|        EM|    false| null|      Rob|      null|   Walters|  null|             0|                 null|<IndividualSurvey...|F2D7CE06-38B3-435...|2007-11-28 00:00:00|
|               5|        EM|    false|  Ms.|     Gail|         A|  Erickson|  null|             0|                 null|<IndividualSurvey...|F3A3F6B4-AE3B-430...|2007-12-30 00:00:00|
|               6|        EM|    false|  Mr.|   Jossef|         H|  Goldberg|  null|             0|                 null|<IndividualSurvey...|0DEA28FD-EFFE-482...|2013-12-16 00:00:00|
|               7|        EM|    false| null|    Dylan|         A|    Miller|  null|             2|                 null|<IndividualSurvey...|C45E8AB8-01BE-4B7...|2009-02-01 00:00:00|
|               8|        EM|    false| null|    Diane|         L|  Margheim|  null|             0|                 null|<IndividualSurvey...|A948E590-4A56-45A...|2008-12-22 00:00:00|
|               9|        EM|    false| null|     Gigi|         N|   Matthew|  null|             0|                 null|<IndividualSurvey...|5FC28C0E-6D36-425...|2009-01-09 00:00:00|
|              10|        EM|    false| null|  Michael|      null|    Raheem|  null|             2|                 null|<IndividualSurvey...|CA2C740E-75B2-420...|2009-04-26 00:00:00|
|              11|        EM|    false| null|   Ovidiu|         V|   Cracium|  null|             0|                 null|<IndividualSurvey...|D2CC2577-EF6B-440...|2010-11-28 00:00:00|
|              12|        EM|    false| null|  Thierry|         B|    D'Hers|  null|             2|                 null|<IndividualSurvey...|FA263C7F-600D-4E8...|2007-12-04 00:00:00|
|              13|        EM|    false|  Ms.|   Janice|         M|    Galvin|  null|             2|                 null|<IndividualSurvey...|34EB99E0-7042-4DC...|2010-12-16 00:00:00|
|              14|        EM|    false| null|  Michael|         I|  Sullivan|  null|             2|                 null|<IndividualSurvey...|9A7501DE-5CAF-470...|2010-12-23 00:00:00|
|              15|        EM|    false| null|   Sharon|         B| Salavaria|  null|             2|                 null|<IndividualSurvey...|BEBA63CB-13F1-4B7...|2011-01-11 00:00:00|
|              16|        EM|    false| null|    David|         M|   Bradley|  null|             1|                 null|<IndividualSurvey...|2CC8BA72-5DBB-497...|2007-12-13 00:00:00|
|              17|        EM|    false| null|    Kevin|         F|     Brown|  null|             2|                 null|<IndividualSurvey...|9EE4713E-B3D8-440...|2007-01-19 00:00:00|
|              18|        EM|    false| null|     John|         L|      Wood|  null|             2|                 null|<IndividualSurvey...|FE21BDA7-9327-4D1...|2011-01-31 00:00:00|
|              19|        EM|    false| null|     Mary|         A|   Dempsey|  null|             1|                 null|<IndividualSurvey...|36F04305-6769-4E6...|2011-02-07 00:00:00|
|              20|        EM|    false| null|   Wanida|         M|  Benshoof|  null|             2|                 null|<IndividualSurvey...|1E7E56F4-A583-4E3...|2010-12-31 00:00:00|
+----------------+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+-------------------+
only showing top 20 rows

None
+----------------+------------+-----------------+-------------------+
|BusinessEntityID| PhoneNumber|PhoneNumberTypeID|       ModifiedDate|
+----------------+------------+-----------------+-------------------+
|               1|697-555-0142|                1|2009-01-07 00:00:00|
|               2|819-555-0175|                3|2008-01-24 00:00:00|
|               3|212-555-0187|                1|2007-11-04 00:00:00|
|               4|612-555-0100|                1|2007-11-28 00:00:00|
|               5|849-555-0139|                1|2007-12-30 00:00:00|
|               6|122-555-0189|                3|2013-12-16 00:00:00|
|               7|181-555-0156|                3|2009-02-01 00:00:00|
|               8|815-555-0138|                1|2008-12-22 00:00:00|
|               9|185-555-0186|                1|2009-01-09 00:00:00|
|              10|330-555-2568|                3|2009-04-26 00:00:00|
|              11|719-555-0181|                1|2010-11-28 00:00:00|
|              12|168-555-0183|                3|2007-12-04 00:00:00|
|              13|473-555-0117|                3|2010-12-16 00:00:00|
|              14|465-555-0156|                1|2010-12-23 00:00:00|
|              15|970-555-0138|                1|2011-01-11 00:00:00|
|              16|913-555-0172|                3|2007-12-13 00:00:00|
|              17|150-555-0189|                1|2007-01-19 00:00:00|
|              18|486-555-0150|                3|2011-01-31 00:00:00|
|              19|124-555-0114|                1|2011-02-07 00:00:00|
|              20|708-555-0141|                3|2010-12-31 00:00:00|
+----------------+------------+-----------------+-------------------+
only showing top 20 rows

None
+----------------+--------------+--------------------+--------------------+-------------------+
|BusinessEntityID|EmailAddressID|        EmailAddress|             rowguid|       ModifiedDate|
+----------------+--------------+--------------------+--------------------+-------------------+
|               1|             1|ken0@adventure-wo...|8A1901E4-671B-431...|2009-01-07 00:00:00|
|               2|             2|terri0@adventure-...|B5FF9EFD-72A2-4F8...|2008-01-24 00:00:00|
|               3|             3|roberto0@adventur...|C8A51084-1C03-4C5...|2007-11-04 00:00:00|
|               4|             4|rob0@adventure-wo...|17703ED1-0031-4B4...|2007-11-28 00:00:00|
|               5|             5|gail0@adventure-w...|E76D2EA3-08E5-409...|2007-12-30 00:00:00|
|               6|             6|jossef0@adventure...|A9C4093A-4F4A-4CA...|2013-12-16 00:00:00|
|               7|             7|dylan0@adventure-...|70429DE4-C3BF-4F1...|2009-02-01 00:00:00|
|               8|             8|diane1@adventure-...|37F02A87-058D-49F...|2008-12-22 00:00:00|
|               9|             9|gigi0@adventure-w...|F888A16D-0C33-459...|2009-01-09 00:00:00|
|              10|            10|michael6@adventur...|E0DD366D-433D-4F5...|2009-04-26 00:00:00|
|              11|            11|ovidiu0@adventure...|0FF9523D-F398-423...|2010-11-28 00:00:00|
|              12|            12|thierry0@adventur...|B2962849-CC5F-4E5...|2007-12-04 00:00:00|
|              13|            13|janice0@adventure...|64871268-3812-402...|2010-12-16 00:00:00|
|              14|            14|michael8@adventur...|BEA9075C-1BED-4E5...|2010-12-23 00:00:00|
|              15|            15|sharon0@adventure...|5CD782BA-F5AB-41E...|2011-01-11 00:00:00|
|              16|            16|david0@adventure-...|80C0D44A-78B6-42A...|2007-12-13 00:00:00|
|              17|            17|kevin0@adventure-...|F4332215-C861-4A5...|2007-01-19 00:00:00|
|              18|            18|john5@adventure-w...|A944FC67-F16E-4AB...|2011-01-31 00:00:00|
|              19|            19|mary2@adventure-w...|626CB0E6-D6A9-4A7...|2011-02-07 00:00:00|
|              20|            20|wanida0@adventure...|924A0FC3-F9E4-410...|2010-12-31 00:00:00|
+----------------+--------------+--------------------+--------------------+-------------------+
only showing top 20 rows

None

## Pre Processing ( Transform )

It is important to check the data before we give accessabilities. Sometimes data can be corrupted, repeated, not needed, contains less information, etc. Thus, we need to ensure the data goes through several filters to make sure data is safe and been pre processed.

 * Check for nulls
 * Check for repetitions
 * Check for consistency

In [16]:
# Show __Person__ table with column title without NULLS
df_p.filter( df_p.Title.isNotNull()).show()

+----------------+----------+---------+-----+---------+----------+-----------+------+--------------+---------------------+--------------------+--------------------+--------------------+
|BusinessEntityID|PersonType|NameStyle|Title|FirstName|MiddleName|   LastName|Suffix|EmailPromotion|AdditionalContactInfo|        Demographics|             rowguid|        ModifiedDate|
+----------------+----------+---------+-----+---------+----------+-----------+------+--------------+---------------------+--------------------+--------------------+--------------------+
|               5|        EM|    false|  Ms.|     Gail|         A|   Erickson|  null|             0|                 null|<IndividualSurvey...|F3A3F6B4-AE3B-430...| 2007-12-30 00:00:00|
|               6|        EM|    false|  Mr.|   Jossef|         H|   Goldberg|  null|             0|                 null|<IndividualSurvey...|0DEA28FD-EFFE-482...| 2013-12-16 00:00:00|
|              13|        EM|    false|  Ms.|   Janice|         M|     Galvin|  null|             2|                 null|<IndividualSurvey...|34EB99E0-7042-4DC...| 2010-12-16 00:00:00|
|              24|        EM|    false|  Ms.|     Jill|         A|   Williams|  null|             0|                 null|<IndividualSurvey...|3F605060-96AD-420...| 2009-01-11 00:00:00|
|             139|        EM|    false|  Mr.|  Hung-Fu|         T|       Ting|  null|             0|                 null|<IndividualSurvey...|739C7553-13E5-4F3...| 2009-12-30 00:00:00|
|             273|        EM|    false|  Mr.|    Brian|         S|    Welcker|  null|             0|                 null|<IndividualSurvey...|0950A366-1EEE-451...| 2011-02-08 00:00:00|
|             284|        SP|    false|  Mr.|     Tete|         A|Mensa-Annan|  null|             1|                 null|<IndividualSurvey...|F5BED54C-DF64-402...| 2012-09-23 00:00:00|
|             285|        SP|    false|  Mr.|     Syed|         E|      Abbas|  null|             0|                 null|<IndividualSurvey...|FF284881-01C2-4C7...| 2013-03-07 00:00:00|
|             291|        SC|    false|  Mr.|  Gustavo|      null|     Achong|  null|             2| <AdditionalContac...|<IndividualSurvey...|D4C132D3-FCB5-423...|2015-04-15 16:33:...|
|             293|        SC|    false|  Ms.|Catherine|        R.|       Abel|  null|             1| <AdditionalContac...|<IndividualSurvey...|D54E0552-C226-4C2...|2015-04-15 16:33:...|
|             295|        SC|    false|  Ms.|      Kim|      null|Abercrombie|  null|             0| <AdditionalContac...|<IndividualSurvey...|F7CBDB48-0B44-470...|2015-04-15 16:33:...|
|             297|        SC|    false|  Sr.| Humberto|      null|    Acevedo|  null|             2| <AdditionalContac...|<IndividualSurvey...|5A41D336-84CF-44D...|2015-04-15 16:33:...|
|             299|        SC|    false| Sra.|    Pilar|      null|   Ackerman|  null|             0| <AdditionalContac...|<IndividualSurvey...|DF1FB8AB-2323-433...|2015-04-15 16:33:...|
|             301|        SC|    false|  Ms.|  Frances|        B.|      Adams|  null|             1| <AdditionalContac...|<IndividualSurvey...|66980082-C186-40A...|2015-04-15 16:33:...|
|             303|        SC|    false|  Ms.| Margaret|        J.|      Smith|  null|             0| <AdditionalContac...|<IndividualSurvey...|691818E1-FC19-445...|2015-04-15 16:33:...|
|             305|        SC|    false|  Ms.|    Carla|        J.|      Adams|  null|             0| <AdditionalContac...|<IndividualSurvey...|5F183B92-1648-494...|2015-04-15 16:33:...|
|             307|        SC|    false|  Mr.|      Jay|      null|      Adams|  null|             1| <AdditionalContac...|<IndividualSurvey...|38256645-4B88-416...|2015-04-15 16:33:...|
|             309|        SC|    false|  Mr.|   Ronald|        L.|      Adina|  null|             0| <AdditionalContac...|<IndividualSurvey...|DBB05A55-2256-42B...|2015-04-15 16:33:...|
|             311|        SC|    false|  Mr.|   Samuel|        N.|   Agcaoili|  null|             0|                 null|<IndividualSurvey...|43C55826-2843-49A...| 2011-08-01 00:00:00|
|             313|        SC|    false|  Mr.|    James|        T.|    Aguilar|   Jr.|             1|                 null|<IndividualSurvey...|35AD71E7-8B4E-4C6...| 2013-06-30 00:00:00|
+----------------+----------+---------+-----+---------+----------+-----------+------+--------------+---------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [17]:
# Show __Person__ table with column title with NULLS

df_p.filter( df_p.Title.isNull() ).show()

+----------------+----------+---------+-----+---------+----------+-----------------+------+--------------+---------------------+--------------------+--------------------+-------------------+
|BusinessEntityID|PersonType|NameStyle|Title|FirstName|MiddleName|         LastName|Suffix|EmailPromotion|AdditionalContactInfo|        Demographics|             rowguid|       ModifiedDate|
+----------------+----------+---------+-----+---------+----------+-----------------+------+--------------+---------------------+--------------------+--------------------+-------------------+
|               1|        EM|    false| null|      Ken|         J|          SÃ¡nchez|  null|             0|                 null|<IndividualSurvey...|92C4279F-1207-48A...|2009-01-07 00:00:00|
|               2|        EM|    false| null|    Terri|       Lee|            Duffy|  null|             1|                 null|<IndividualSurvey...|D8763459-8AA8-47C...|2008-01-24 00:00:00|
|               3|        EM|    false| null|  Roberto|      null|       Tamburello|  null|             0|                 null|<IndividualSurvey...|E1A2555E-0828-434...|2007-11-04 00:00:00|
|               4|        EM|    false| null|      Rob|      null|          Walters|  null|             0|                 null|<IndividualSurvey...|F2D7CE06-38B3-435...|2007-11-28 00:00:00|
|               7|        EM|    false| null|    Dylan|         A|           Miller|  null|             2|                 null|<IndividualSurvey...|C45E8AB8-01BE-4B7...|2009-02-01 00:00:00|
|               8|        EM|    false| null|    Diane|         L|         Margheim|  null|             0|                 null|<IndividualSurvey...|A948E590-4A56-45A...|2008-12-22 00:00:00|
|               9|        EM|    false| null|     Gigi|         N|          Matthew|  null|             0|                 null|<IndividualSurvey...|5FC28C0E-6D36-425...|2009-01-09 00:00:00|
|              10|        EM|    false| null|  Michael|      null|           Raheem|  null|             2|                 null|<IndividualSurvey...|CA2C740E-75B2-420...|2009-04-26 00:00:00|
|              11|        EM|    false| null|   Ovidiu|         V|          Cracium|  null|             0|                 null|<IndividualSurvey...|D2CC2577-EF6B-440...|2010-11-28 00:00:00|
|              12|        EM|    false| null|  Thierry|         B|           D'Hers|  null|             2|                 null|<IndividualSurvey...|FA263C7F-600D-4E8...|2007-12-04 00:00:00|
|              14|        EM|    false| null|  Michael|         I|         Sullivan|  null|             2|                 null|<IndividualSurvey...|9A7501DE-5CAF-470...|2010-12-23 00:00:00|
|              15|        EM|    false| null|   Sharon|         B|        Salavaria|  null|             2|                 null|<IndividualSurvey...|BEBA63CB-13F1-4B7...|2011-01-11 00:00:00|
|              16|        EM|    false| null|    David|         M|          Bradley|  null|             1|                 null|<IndividualSurvey...|2CC8BA72-5DBB-497...|2007-12-13 00:00:00|
|              17|        EM|    false| null|    Kevin|         F|            Brown|  null|             2|                 null|<IndividualSurvey...|9EE4713E-B3D8-440...|2007-01-19 00:00:00|
|              18|        EM|    false| null|     John|         L|             Wood|  null|             2|                 null|<IndividualSurvey...|FE21BDA7-9327-4D1...|2011-01-31 00:00:00|
|              19|        EM|    false| null|     Mary|         A|          Dempsey|  null|             1|                 null|<IndividualSurvey...|36F04305-6769-4E6...|2011-02-07 00:00:00|
|              20|        EM|    false| null|   Wanida|         M|         Benshoof|  null|             2|                 null|<IndividualSurvey...|1E7E56F4-A583-4E3...|2010-12-31 00:00:00|
|              21|        EM|    false| null|    Terry|         J|        Eminhizer|  null|             2|                 null|<IndividualSurvey...|6A288FE0-D9CB-4DA...|2009-02-23 00:00:00|
|              22|        EM|    false| null|   Sariya|         E|Harnpadoungsataya|  null|             0|                 null|<IndividualSurvey...|276E0EB5-0CE7-443...|2008-12-05 00:00:00|
|              23|        EM|    false| null|     Mary|         E|           Gibson|  null|             0|                 null|<IndividualSurvey...|B10CF8EB-5589-4A8...|2009-01-05 00:00:00|
+----------------+----------+---------+-----+---------+----------+-----------------+------+--------------+---------------------+--------------------+--------------------+-------------------+
only showing top 20 rows

In [18]:
# Show __Phone__ table with more than 10 digit numbers
df_pPhone.filter( length(col( "PhoneNumber" )) > 12).show()

+----------------+-------------------+-----------------+--------------------+
|BusinessEntityID|        PhoneNumber|PhoneNumberTypeID|        ModifiedDate|
+----------------+-------------------+-----------------+--------------------+
|             286|1 (11) 500 555-0190|                1| 2013-05-23 00:00:00|
|             288|1 (11) 500 555-0140|                1| 2013-05-23 00:00:00|
|             289|1 (11) 500 555-0145|                3| 2012-05-23 00:00:00|
|             290|1 (11) 500 555-0117|                1| 2012-05-23 00:00:00|
|             299|1 (11) 500 555-0132|                1|2015-04-15 16:33:...|
|             313|1 (11) 500 555-0198|                1| 2013-06-30 00:00:00|
|             321|1 (11) 500 555-0150|                1| 2012-07-31 00:00:00|
|             349|1 (11) 500 555-0190|                1| 2013-07-31 00:00:00|
|             357|1 (11) 500 555-0181|                1| 2013-06-30 00:00:00|
|             377|1 (11) 500 555-0139|                3| 2013-06-30 00:00:00|
|             383|1 (11) 500 555-0187|                3| 2013-07-31 00:00:00|
|             407|1 (11) 500 555-0151|                3| 2013-07-31 00:00:00|
|             409|1 (11) 500 555-0168|                3| 2013-06-30 00:00:00|
|             415|1 (11) 500 555-0187|                1| 2012-05-30 00:00:00|
|             419|1 (11) 500 555-0112|                3| 2013-06-30 00:00:00|
|             425|1 (11) 500 555-0113|                3| 2013-06-30 00:00:00|
|             431|1 (11) 500 555-0132|                1| 2012-07-31 00:00:00|
|             433|1 (11) 500 555-0127|                3| 2012-06-30 00:00:00|
|             435|1 (11) 500 555-0140|                1| 2013-06-30 00:00:00|
|             445|1 (11) 500 555-0163|                3| 2013-07-31 00:00:00|
+----------------+-------------------+-----------------+--------------------+
only showing top 20 rows

In [19]:
# Get Max value of a column
df_pPhone.agg({'PhoneNumberTypeID': 'max'}).show()

+----------------------+
|max(PhoneNumberTypeID)|
+----------------------+
|                     3|
+----------------------+

In [20]:
# Get Min value of a column
df_pPhone.agg({'PhoneNumberTypeID': 'min'}).show()

+----------------------+
|min(PhoneNumberTypeID)|
+----------------------+
|                     1|
+----------------------+

In [21]:
# To show, the minimum value is correctly displaying -- that there are no values less than zero.
df_pPhone.filter( col( "PhoneNumberTypeID" ) < 0).show()

+----------------+-----------+-----------------+------------+
|BusinessEntityID|PhoneNumber|PhoneNumberTypeID|ModifiedDate|
+----------------+-----------+-----------------+------------+
+----------------+-----------+-----------------+------------+

## Joins

Here, I have used the Inner join to join two tables, Person.Phone and Person.Email.

##### Potential Problem:
 * Duplicated Columns  - in this example, Modified Date has been duplicated
 * NULL values - since this is inner joins, if two tables are already NULL checked, then there should not be any NULLs.

## Solution:
(1) Check if the two tables have equal columns before joins
(2) Drop one of the columns

In [22]:
sameCols = set( df_pPhone.columns ).intersection( set( df_pEmail.columns ))
sameCols

{'BusinessEntityID', 'ModifiedDate'}

In [23]:
# Inner Join
df_pPhoneEmail = df_pPhone.join( df_pEmail, ( df_pPhone.BusinessEntityID == df_pEmail.BusinessEntityID ) & ( df_pPhone.ModifiedDate == df_pEmail.ModifiedDate ), "inner" ) \
.drop( df_pEmail.BusinessEntityID ) \
.drop( df_pEmail.ModifiedDate )

df_pPhoneEmail.show( truncate = False )

+----------------+-------------------+-----------------+-------------------+--------------+------------------------------+------------------------------------+
|BusinessEntityID|PhoneNumber        |PhoneNumberTypeID|ModifiedDate       |EmailAddressID|EmailAddress                  |rowguid                             |
+----------------+-------------------+-----------------+-------------------+--------------+------------------------------+------------------------------------+
|196             |793-555-0179       |1                |2008-12-17 00:00:00|196           |shammi0@adventure-works.com   |F62FC889-EADF-48C4-B4C2-3DEFF636A677|
|274             |238-555-0197       |1                |2010-12-28 00:00:00|274           |stephen0@adventure-works.com  |FAFCED5B-FF48-4397-855A-ADEE1A5136DE|
|1746            |484-555-0100       |1                |2013-03-27 00:00:00|1042          |alan3@adventure-works.com     |E06ACF96-2D52-4476-93BE-3450605D1CD7|
|1999            |874-555-0100       |1                |2013-07-31 00:00:00|1195          |filomena0@adventure-works.com |6E8BEC0E-AE8E-4226-8F72-F5757A599998|
|2006            |195-555-0100       |3                |2012-06-30 00:00:00|1202          |julie2@adventure-works.com    |4279E297-7F97-4EFB-8875-44D7A3284EC3|
|2083            |398-555-0100       |3                |2011-12-23 00:00:00|1278          |arvid0@adventure-works.com    |494B565A-0461-4AEA-8503-995378E36C7B|
|2312            |915-555-0100       |1                |2009-01-14 00:00:00|1507          |dan5@adventure-works.com      |DF5A878E-0ACE-403D-A485-D68773CD4D27|
|2392            |1 (11) 500 555-0187|1                |2013-04-01 00:00:00|1587          |francis1@adventure-works.com  |BE07810A-E732-427F-8495-CE109F490636|
|2759            |125-555-0117       |1                |2011-08-15 00:00:00|1954          |alexandra1@adventure-works.com|AD51A853-67F6-40C0-BF0E-F76CADD6C552|
|3070            |270-555-0169       |1                |2013-07-17 00:00:00|2265          |stephanie8@adventure-works.com|8490BDEE-1239-4740-A17B-E8B7BC03BAF5|
|3075            |1 (11) 500 555-0147|1                |2013-08-25 00:00:00|2270          |evelyn0@adventure-works.com   |D105E0BC-1732-4AC0-8910-724D6B54F0F8|
|3303            |1 (11) 500 555-0195|2                |2014-04-03 00:00:00|2498          |ruth24@adventure-works.com    |1B017B87-1180-4ADB-BBCF-171704C3C950|
|3508            |735-555-0180       |2                |2013-12-14 00:00:00|2703          |karla13@adventure-works.com   |29003897-BC5D-47B2-9FA7-3F1C2DFE9E57|
|3837            |1 (11) 500 555-0148|1                |2014-03-22 00:00:00|3032          |cesar16@adventure-works.com   |9BD5B257-E552-421B-99C0-E868F53295BF|
|4258            |147-555-0173       |1                |2013-08-06 00:00:00|3453          |edward41@adventure-works.com  |7C2848D5-EC3A-4229-82FF-216DD53A21AC|
|4417            |1 (11) 500 555-0175|2                |2011-10-17 00:00:00|3612          |nina1@adventure-works.com     |BDFD2025-BB1E-45C1-8AB2-A25A7B1EAB35|
|4525            |251-555-0135       |2                |2013-08-17 00:00:00|3720          |dalton43@adventure-works.com  |0531544D-08A6-4F0A-BDE3-B104810285AD|
|4588            |882-555-0162       |2                |2013-12-14 00:00:00|3783          |richard34@adventure-works.com |92B531AC-39BA-4242-8247-11778B574CF6|
|4849            |1 (11) 500 555-0140|1                |2013-07-19 00:00:00|4044          |alvin24@adventure-works.com   |3AE25BF7-EF29-46A2-B786-71022B61D744|
|4892            |1 (11) 500 555-0186|2                |2012-11-27 00:00:00|4087          |charles36@adventure-works.com |8F8B4754-004D-400E-BCD4-D9F3062852C6|
+----------------+-------------------+-----------------+-------------------+--------------+------------------------------+------------------------------------+
only showing top 20 rows

#### Convert to Parquet
 * Convert the given Spark dataframe into parquet

In [24]:
df_pPhoneEmail.write.parquet( "peoplePhoneEmail.parquet" )
parquetDF = spark.read.parquet( "peoplePhoneEmail.parquet" )

In [26]:
parquetDF.show()

+----------------+-------------------+-----------------+-------------------+--------------+--------------------+--------------------+
|BusinessEntityID|        PhoneNumber|PhoneNumberTypeID|       ModifiedDate|EmailAddressID|        EmailAddress|             rowguid|
+----------------+-------------------+-----------------+-------------------+--------------+--------------------+--------------------+
|             196|       793-555-0179|                1|2008-12-17 00:00:00|           196|shammi0@adventure...|F62FC889-EADF-48C...|
|             274|       238-555-0197|                1|2010-12-28 00:00:00|           274|stephen0@adventur...|FAFCED5B-FF48-439...|
|            1746|       484-555-0100|                1|2013-03-27 00:00:00|          1042|alan3@adventure-w...|E06ACF96-2D52-447...|
|            1999|       874-555-0100|                1|2013-07-31 00:00:00|          1195|filomena0@adventu...|6E8BEC0E-AE8E-422...|
|            2006|       195-555-0100|                3|2012-06-30 00:00:00|          1202|julie2@adventure-...|4279E297-7F97-4EF...|
|            2083|       398-555-0100|                3|2011-12-23 00:00:00|          1278|arvid0@adventure-...|494B565A-0461-4AE...|
|            2312|       915-555-0100|                1|2009-01-14 00:00:00|          1507|dan5@adventure-wo...|DF5A878E-0ACE-403...|
|            2392|1 (11) 500 555-0187|                1|2013-04-01 00:00:00|          1587|francis1@adventur...|BE07810A-E732-427...|
|            2759|       125-555-0117|                1|2011-08-15 00:00:00|          1954|alexandra1@advent...|AD51A853-67F6-40C...|
|            3070|       270-555-0169|                1|2013-07-17 00:00:00|          2265|stephanie8@advent...|8490BDEE-1239-474...|
|            3075|1 (11) 500 555-0147|                1|2013-08-25 00:00:00|          2270|evelyn0@adventure...|D105E0BC-1732-4AC...|
|            3303|1 (11) 500 555-0195|                2|2014-04-03 00:00:00|          2498|ruth24@adventure-...|1B017B87-1180-4AD...|
|            3508|       735-555-0180|                2|2013-12-14 00:00:00|          2703|karla13@adventure...|29003897-BC5D-47B...|
|            3837|1 (11) 500 555-0148|                1|2014-03-22 00:00:00|          3032|cesar16@adventure...|9BD5B257-E552-421...|
|            4258|       147-555-0173|                1|2013-08-06 00:00:00|          3453|edward41@adventur...|7C2848D5-EC3A-422...|
|            4417|1 (11) 500 555-0175|                2|2011-10-17 00:00:00|          3612|nina1@adventure-w...|BDFD2025-BB1E-45C...|
|            4525|       251-555-0135|                2|2013-08-17 00:00:00|          3720|dalton43@adventur...|0531544D-08A6-4F0...|
|            4588|       882-555-0162|                2|2013-12-14 00:00:00|          3783|richard34@adventu...|92B531AC-39BA-424...|
|            4849|1 (11) 500 555-0140|                1|2013-07-19 00:00:00|          4044|alvin24@adventure...|3AE25BF7-EF29-46A...|
|            4892|1 (11) 500 555-0186|                2|2012-11-27 00:00:00|          4087|charles36@adventu...|8F8B4754-004D-400...|
+----------------+-------------------+-----------------+-------------------+--------------+--------------------+--------------------+
only showing top 20 rows

In [27]:
# Duplicity:
# df_basket1.columns
# if df_p.count() > df_p.dropDuplicates([listOfColumns]).count():
if df_p.count() > df_p.dropDuplicates( df_p.columns ).count():
    print( 'There are Duplicates' )
    raise ValueError('Data has duplicates')
else:
    print( 'There are NO Duplicates' )

There are NO Duplicates

In [28]:
"""
Function checkDuplicates()

Description: Check if given dataframe has any duplicated ROW values in - the entire row is repeated.

Parametres: dataframe (Spark)
Return: boolean
"""

def checkDuplicates( df ):
    if df.count() > df.dropDuplicates( df.columns ).count():
        print( 'There are Duplicates' )
        raise ValueError('Data has duplicates')
        return True
    else:
        print( 'There are NO Duplicates' )
        return False

In [29]:
"""
Function checkDuplicatesByCols()

Description: Check if given dataframe has any duplicated ROW values in given COLUMNS

Parametres: dataframe (Spark), array
Return: boolean
"""

def checkDuplicatesByCol( df, listOfCols ):
    if df.count() > df.dropDuplicates( listOfCols[:] ).count():
        print( 'There are Duplicates' )
        
        print(
            df.groupby( listOfCols[:]) \
            .count() \
            .where( 'count > 1' ) \
            .sort( 'count', ascending = False ) \
            .show()
        )
        
        raise ValueError('Data has duplicates')
        return True
    else:
        print( 'There are NO Duplicates' )
        return False

In [30]:
if checkDuplicates( df_p ):
   print( 'Person Table has duplicates' )
else:
   print( 'Person Table Passed' )

cols = [
    'FirstName'
]
if checkDuplicatesByCol( df_p, cols ):
   print( 'Person Table has duplicates' )
else:
   print( 'Person Table Passed' )

There are NO Duplicates
Person Table Passed
There are Duplicates
+---------+-----+
|FirstName|count|
+---------+-----+
|  Richard|  103|
|Katherine|   99|
|    James|   97|
|   Marcus|   97|
| Jennifer|   96|
|    Lucas|   93|
|   Dalton|   93|
|Alexandra|   93|
| Isabella|   92|
|     Seth|   92|
|   Morgan|   92|
|  Natalie|   91|
|  Kaitlyn|   90|
|  Eduardo|   90|
|   Sydney|   90|
|   Robert|   90|
|      Ian|   89|
|    Julia|   89|
|   Xavier|   88|
|    Chloe|   88|
+---------+-----+
only showing top 20 rows

None

ValueError: Data has duplicates

#### Extra Notes
 * The above lines are designed to raise error to ensure the system is working correctly